# Dependencies
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env
.env.*
!.env.example

# Editor folders
.idea/
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Optional
*.local
